body {
    font-family: 'Quicksand Variable', sans-serif;
}

.coin-image {
    border-radius: 100%;
    width: 52px;
    height: 52px;
}

.dark .coin-image {
    background: #242424;
    box-shadow: inset 5px 5px 10px #1f1f1f,
        inset -5px -5px 10px #292929;
}

.light .coin-image {
    background: #ffffff;
    box-shadow: inset 5px 5px 10px #d9d9d9,
        inset -5px -5px 10px #ffffff;
}

.coin-viewer {
    border-radius: 15px;
    width: 180px;
    max-width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #ffffff;
    box-shadow: 8px 8px 16px #d9d9d9,
        -8px -8px 16px #ffffff;
}

.coin-price {
    font-weight: 600;
    font-size: large;
}

.coin-percentage {
    margin-top: 5px;
}

.coin-percentage-increase {
    color: green;
    font-size: small;
}

.coin-percentage-decrease {
    color: red;
    font-size: small;
}

.dark {
    background-color: #191414;
    color: #1DB954;
}

.light {
    background-color: white;
}

@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: calc(200px + 100%) 0;
    }
}

.coin-image-loader {
    border-radius: 100%;
    width: 52px;
    height: 52px;
    background: #f0f0f0;
    background-image: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 20%, #f0f0f0 40%, #f0f0f0 100%);
    background-repeat: no-repeat;
    background-size: 200px 100%;
    animation: shimmer 1.5s infinite linear;
}

.coin-price-loader {
    width: 82px;
    height: 20px;
    background: #f0f0f0;
    background-image: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 20%, #f0f0f0 40%, #f0f0f0 100%);
    background-repeat: no-repeat;
    background-size: 200px 100%;
    animation: shimmer 1.5s infinite linear;
}
.coin-percentage-loader {
    width: 40px;
    height: 15px;
    margin-top: 5px;
    background: #f0f0f0;
    background-image: linear-gradient(to right, #f0f0f0 0%, #e0e0e0 20%, #f0f0f0 40%, #f0f0f0 100%);
    background-repeat: no-repeat;
    background-size: 200px 100%;
    animation: shimmer 1.5s infinite linear;
}